@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}

.App {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.highlight {
    color: #ffc077;
}

* {
    font-family: 'Poppins';
}



@media only screen and (max-width: 900px) {
    .logo {
        display: none;
    }

    .nav-bar-container {
        display: none;
    }
    
    .nav-bar-container button {
        margin: 0;
        color: white;
        font-weight: 500;
        letter-spacing: 0.05em;
        background-color: transparent;
        border: transparent;
        font-family: inherit;
    }
    .nav-bar-container button::after {
        border-bottom: solid 3px #019fb6;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
        transform-origin:  0% 50%;
    }
    .nav-bar-container button:hover::after {
        transform: scaleX(1);
    }
    
    .branding-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
    }
    
    .landing {
        position: relative;
        width: 100%;
        padding: 0 10%;
        box-sizing: border-box;
    
    }

    .app-contents {
        padding-top: 8%;
    }
    
    .landing-container {
        z-index: 3;
        position: relative;
        width: 100%;
        background: #1a1d2e;
        padding: 40px 0px;
        box-sizing: border-box;
    }
    
    .landing-headings {
        position: relative;
        display: flex;
        flex-direction: column;
    
    }
    
    .Squiggle1 {
        position: absolute;
        top: 25%;
        align-self: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .landing-headings h1 {
        text-align: center;
        width: 100%;
        font-size: 2em;
        margin: 0;
        color: white;
        font-weight: 600;
        letter-spacing: 0.05em;
        text-shadow: 0px 0px 6px rgba(255,255,255, 0.3);
    }
    
    .landing-contents {
        display: flex;
        flex-direction: column ;
        align-items: center;
        padding: 12% 5%;
        font-size: 0.8em    ;
    }
    
    .landing-contents h2 {
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.12em;
        color: #fff;
        margin-top: 85%;
    }
    
    .contact-container {
        position: relative;
        width: 180px;
        margin-top: 10%;
        margin-bottom: 5%;
        border-radius: 10px;
        background: #ffc077;
        box-shadow: 0px 0px 6px rgba(227, 208, 156, 0.33);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contact-container button {
        font-weight: 500;
        letter-spacing: 0.05em;
        color: white;
        border: none;
        background-color: transparent;
        font-family: inherit;
        padding: 10% 0;
    }
    
    .app-contents {
        position: relative;
        background: #151828;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .for-work-container {
        margin: 4% 0;
        position: relative;
        width: 84%;
        height: fit-content;
    }
    
    .shadow {
        display: none;
    }
    
    .for-work-contents {
        box-sizing: border-box;
        position: relative;

        width: 100%;
        height: fit-content;
        padding-bottom: 5%;
        background: #1a1d2e;
        z-index: 4;
        right: 0;
        top: 0;
        border-radius: 43px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .for-work-header h1{
        padding-top: 5%;
        text-align: center;
        font-size: 1.7em;
        letter-spacing: 0.05em;
        color: #fff;
        text-shadow: 0px 0px 6px rgba(255, 255,255, 0.3);
        margin: 0;

    }
    
    .for-work-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .for-work-description h2 {
        padding: 5%;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #fff;
        margin: 0;
        font-size: 1em;
    }
    
    .services-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
    }
    
    .service-display {
        margin: 10px 0;

        width: 80%;
        padding: 10px;
        box-sizing: border-box;
        height: 120px;
        background: #151829;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 20px;
    }
    
    .service-icon {
       display: none;
    }
    
    .services-container h2 {
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #fff;
        margin: 0;
        font-size: 0.9em;
    }

    .take-on-work-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .take-on-work-description h2 {
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #fff;
        margin: 0;
    }
    .descriptions {
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .descriptions h2 {
        padding: 5%;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.1em;
        color: #fff;
        margin: 0;
        font-size: 1em;
    }
    
   
    
    .lets-talk-description h2{
        width: 100%;
        text-align: center;
        padding: 2%;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 0.12em;
        color: #fff;
        box-sizing: border-box;
        margin: 0;
    }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media only screen and (min-width: 901px) {
    .App {
        position: relative;
        width: 100%;
        height: 3080px;
        display: flex;
        flex-direction: column;
    }

    .highlight {
        color: #ffc077;
    }

    .nav-bar-container {
        position: sticky;
        top: 0;
        height: 214px;
        width: 100%;
        background-color: #1A1D2E;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 5;
        padding: 1% 10%;

        box-sizing: border-box;
    }

    .nav-bar-container button {
        margin: 0;
        color: white;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
        background-color: transparent;
        border: transparent;
        font-family: inherit;
    }

    .nav-bar-container button::after {
        border-bottom: solid 3px #019fb6;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        transform-origin: 0% 50%;
    }

    .nav-bar-container button:hover::after {
        transform: scaleX(1);
    }

    .branding-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
    }

    .landing {
        position: relative;
        width: 100%;
        padding: 0 10%;
        box-sizing: border-box;

    }

    .landing-container {
        z-index: 3;
        position: relative;
        width: 100%;
        height: 85vh;
        background: #1a1d2e;
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
    }

    .landing-headings {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Squiggle1 {
        position: absolute;
        width: 40%;
        right: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .landing-headings h1 {
        margin: 0;
        color: white;
        font-weight: 600;
        font-size: 4vw;
        letter-spacing: 0.05em;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
        position: relative;
    }

    .landing-contents {
        padding: 50px 80px;
    }

    .landing-contents h2 {
        font-weight: 500;
        font-size: 2vw;
        letter-spacing: 0.12em;
        color: #fff;
        width: 70%;
        margin: 0;
    }

    .contact-container {
        margin-top: 5vh;
        width: 180px;
        height: 60px;
        border-radius: 10px;
        background: #ffc077;
        box-shadow: 0px 0px 6px rgba(227, 208, 156, 0.33);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-container button {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: white;
        border: none;
        background-color: transparent;
        font-family: inherit;
    }

    .app-contents {
        position: relative;
        background: #151828;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .for-work-container {
        margin: 80px 0;
        position: relative;
        width: 84%;
        height: 80vh;
    }

    .shadow {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        width: 97%;
        height: 95%;
        background-color: #111422;
        border-radius: 43px;
    }

    .for-work-contents {
        padding: 5%;
        box-sizing: border-box;
        position: absolute;
        width: 97%;
        height: 77vh;
        background: #1a1d2e;
        z-index: 4;
        right: 0;
        top: 0;
        border-radius: 43px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .for-work-header {
        width: 50%;
    }

    .for-work-header h1 {
        font-weight: 600;
        font-size: 3vw;

        letter-spacing: 0.05em;
        color: #fff;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
        margin: 0;
    }

    .for-work-description {
        padding: 5vh 5vw;
    }

    .for-work-description h2 {
        font-weight: 500;
        font-size: 2.5vh;
        letter-spacing: 0.1em;
        width: 100%;
        color: #fff;
        margin: 0;
    }

    .services-container {
        padding: 5%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        width: 36%;
    }

    .service-display {
        width: 100%;
        height: 27%;
        background: #151829;
        border-radius: 75px 0px 0px 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .service-icon {
        height: 100%;
        aspect-ratio: 1;
        background: #131524;
        border-radius: 75px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .services-container h2 {
        width: max-content;
        font-weight: 500;
        font-size: 0.8vw;
        letter-spacing: 0.1em;
        color: #fff;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
    }

    .take-on-work-description {
        padding: 5vh 5vw;
        width: fit-content;
        height: fit-content;
        


    }

    .take-on-work-description h2 {
        font-weight: 500;
        font-size: 2.5vh;

        letter-spacing: 0.1em;
        width:50vw;
        color: #fff;
    }

    .descriptions {
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 1vh 0

    }

    .lets-talk-description {
        padding: 5vh 5vw;
        
    }

    .lets-talk-description h2 {
        width: 50vw;
        font-weight: 500;
        font-size: 2.5vh;
        
        letter-spacing: 0.12em;
        color: #fff;
    }
}